/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: "64px";
}

.sidenav {
  background-color: #333;
  height: calc(100vh - 64px);
}

.container {
  background-color: #333;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(238, 130, 139);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
}

.sidenav ul {
  max-width: 100%;
  overflow: hidden;
  margin: 16px;
}

.sidenav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
